.Pagination {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .btn {
    width: 33%;

    h4 {
      cursor: pointer;
      margin: 0;
      display: flex;
      text-align: center;
    }
  }
}
