$color: #a4ffbc;
$hover: #47b764;
// $color: #ffa8fc;
// $color: #43bffd;
// $color: #ff5858;

.Hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
      no-repeat center center / cover;
  display: flex;
  background-attachment: fixed;
  align-items: center;
  // align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  transition: 1s ease;
  .One,
  .Two,
  .Three {
    animation: page 1s ease;
  }
}

@keyframes page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
